body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border:5px solid rgb(87, 150, 237);
}

.circle-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #555;
    margin-right: 30px;
}

.info-box {
    border: 2px solid black;
    padding: 15px;
    width: 400px;
    min-height: 150px;
    background: #f9f9f9;
}